<!-- <div class="colorSidebar " id="sidebar">
    
    <hr class="text-white">
    <div class="list-group list-reset">
        <button *ngFor="let tag of tags" class="list-group-item list-group-item-action">
            {{tag | titlecase}}
        </button>
    </div>
</div> -->
<mat-drawer-container class="colorSidebar">
    <mat-drawer-content id="sidebar">
        <h1 class="title">Gifs app</h1>
        <hr>
        <div class="containerButton">
            <button class="buttonSidebar" *ngFor="let tag of tags" mat-stroked-button>
            {{tag | titlecase}}
            </button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>